@import '../index.scss';

.Card{
    @extend %column;
    align-items: center;
    
    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;

       /*  &--label{
            
        } */

        &--input{
            width: 100%;
            border-radius: 6px;
            padding-left: 5px;

            @include desktop {
                width: 240px;
                height: 40px;
                padding-left: 13px;
                border-radius: 6px;
            }

        }
        &__container{
            display: flex;

            &--btn{
                margin-top: 10px;
                background-color: $primary-color;
                color:white;
                border-radius: 6px;
                width: 60%;
                font-weight: bolder;
                padding: 5px;
            }
        }
    }
}