@import "../index.scss";

.completedTask {
  &__container {
    @extend %column;
    margin: 20px;

    > h2 {
      padding-left: 7px;

      @include desktop {
        padding-left: 40px;
        
      }
    }
    &__list {
      @include desktop {
        padding-left: 80px;
        padding-right: 80px;
      }

      &--style {
        list-style-type: none;
        background-color: $secondary-color;
        @extend %flex;
        justify-content: space-between;
        padding-left: 10px;
        margin: 29px;
      }

      &--name{
        font-weight: bold;
      }

      /* &--type {
        border-left: 1px solid black;
        padding: 20px;
      } */
    }
  }
}
