@import "../index.scss";

.MainList {
  &__container {
    @extend %column;
    margin: 20px;

    > h2 {
      padding-left: 7px;
      
      @include desktop {
        padding-left: 40px;
      }
    }
    &__list {
      @include desktop {
        padding-left: 80px;
        padding-right: 80px;
      }
      &--input {
        margin-right: 7px;
      }

      &--name{
        font-weight: bold;
      }

      &--style {
        list-style-type: none;
        background-color: #14FFDA;
        @extend %flex;
        justify-content: space-between;
        padding-left: 10px;
      }

      &--left {
        @extend %flex;
      }

      &--type {
        border-left: 1px solid black;
        padding: 20px;
      }

      &--containerBtn{

      }

      &--button {
        margin: 10px;
        border:none;
        background-color:#14FFDA;
        &-link {
          margin-right: 5px;
          background-color:white;
          border:none;
          font-weight: bold;
        }
        @include desktop {
          padding-left: 40px;
        }
      }
    }
  }
}
