@import "../index.scss";

.Navbar {
  padding: 1rem;
  display: flex;
  flex-direction:column ;
  align-items: center;
  background-color: $primary-color;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    background-color: $primary-color;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: row;

    @include desktop {
      position: relative;
      padding: 1rem;
      display: flex;
      flex-direction: row;
    }

    &-form {
      &__input {
        width: 68%;
        margin-left: 10px;
        padding-left: 27px;
        border-radius: 6px;
        background-color: $secondary-color;
        border:1px solid rgb(7, 235, 7);

        @include desktop {
          width: 100%;
          height: 90%;
          margin-left: 20px;
          padding-left: 27px;
          width: 100%;
          height: 90%;
          border-radius: 6px;
          background-color: $secondary-color;
          border:1px solid rgb(7, 235, 7);;
        }
      }

      &--icon {
        position: absolute;
        z-index: 10;
        opacity: 0.2;
        left: 105px;
        bottom: 3px;

        @include desktop {
          position: absolute;
          z-index: 10;
          opacity: 0.2;
          left: 132px;
          bottom: 19px;
        }
      }
    }

    &-link {
      &--color,
      .fa-home {
        color: white;

        @include desktop {
          color: white;
        }
      }
    }
    &__link-completed {
      text-align: center;

      @include desktop {
      }

      &--color {
        margin: 10px;
        color: white;
      }
    }
  }
}
