body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++ */

//VARIABLES
$primary-color:#3AFF7D;
$secondary-color: rgb(160, 229, 218);
$desktop-layout: 800px;

a:link,
a:visited,
a:active {
text-decoration: none;
}

//HERENCIA

%flex {
  display: flex;
  flex-direction: row;
  align-items: center;
 }
  
 %column {
  display: flex;
  flex-direction: column;
}

//RESPONSIVE
@mixin desktop {
    @media screen and (min-width: $desktop-layout) {
        @content;
    }
}